@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/alert";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import 'variables';
@import 'mixins';
body{
    background-color: $fondo;
    margin: 0px;
    padding: 0px;
    h1, h2{
        text-align: center;
        color: $white;
        font-family: $fuente-titulo;
        padding-bottom: 20px;
        border-bottom: 1px solid #444242;
        @include myhover;
        @include tablet{
            text-align: left;
            color: red;
        }
        @include desktop{
            text-align: right;
            color: blue;
        }
    }
}
.contenido{
    color: $white;
    p{
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
}
.buttons{
    text-align: center;
    .btn-x{
        text-transform: uppercase;
        color: $white;
        background: darken($blue, 20);
        border: 0px;
        padding: 20px;
    }
    .btn-negro{
        @extend .btn-x;
        background: lighten(red, 20);
    }
}

table {
    margin: 25px auto!important;
    width:80%;
    text-align: left;
    font-size: 1rem;
    border-collapse: collapse;
    text-align: center;
    > caption {
      text-align: left;
      font-family:$fuente-titulo;
      font-size: 1.8rem;
      padding:5px;
      color:$white;
      margin-bottom: 20px;
    }
    thead tr th  {
      background-color: darken($blue, 20);
      color:$white;
      font-size: 1.3rem;
    }
    > thead,
    > tbody {
      > tr {
        color:$white;
        background-color: darken($blue,10);
        &:nth-child(odd) {
          background-color: $blue;
        }
        &:hover {
          background-color: darken(red,5);
        }
        th,
        td {
          padding:10px;
          border-bottom: 1px dotted $white;
        }
      }
    }
  }
/* Galería de imágenes */
.galeria{
    margin: 25px auto!important;
    width:80%;
    .imagen{
        float: left;
        @include gridImagenes(2, 1%);
        img{
            display: block;
            max-width: 100%;
        }
        @include tablet{
            @include gridImagenes(5, 1%);
        }
        @include desktop{
            @include gridImagenes(5, 1%);
        }
    }
}
/* grid */
.container{
    margin: 25px auto !important;
    width: 80%;
    p{
        color: $white;
    }
}
[class*='col-']{
    float:left;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
.row {
    @include clearfix;
    @include tablet {
        margin:0 -1em;
    }
}
@include tablet {
    @for $i from 1 through $numero-columnas {
        [class~='col-#{$i}']{
            width: 100% / $numero-columnas * $i;
        }
    }
}