@import url('https://fonts.googleapis.com/css?family=Pacifico');
/* Variables */
$blue: rgb(25, 127, 223);
$black: #222;
$white: #fff;

$fondo: $black;
$fuente-titulo: 'Pacifico', cursive;

$tablet: 768px;
$desktop: 1024px;

/* mixins */
@mixin tablet{
    @media only screen and (min-width: #{$tablet}){
        @content;        
    }
}
@mixin desktop{
    @media only screen and (min-width: #{$desktop}){
        @content;        
    }
}
@mixin myhover{
    &:hover{
        color: yellowgreen;
    }
}
body{
    background-color: $fondo;
    margin: 0px;
    padding: 0px;
    h1{
        text-align: center;
        color: $white;
        font-family: $fuente-titulo;
        padding-bottom: 20px;
        border-bottom: 1px solid #444242;
        @include myhover;
        @include tablet{
            text-align: left;
            color: red;
        }
        @include desktop{
            text-align: right;
            color: blue;
        }
    }
}
.contenido{
    color: $white;
    p{
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
}
.buttons{
    text-align: center;
    .btn{
        text-transform: uppercase;
        color: $white;
        background: darken($blue, 20);
        border: 0px;
        padding: 20px;
    }
    .btn-negro{
        @extend .btn;
        background: lighten(red, 20);
    }
}

table {
    margin: 25px auto!important;
    width:80%;
    text-align: left;
    font-size: 1rem;
    border-collapse: collapse;
    text-align: center;
    > caption {
      text-align: left;
      font-family:$fuente-titulo;
      font-size: 1.8rem;
      padding:5px;
      color:$white;
      margin-bottom: 20px;
    }
    thead tr th  {
      background-color: darken($blue, 20);
      color:$white;
      font-size: 1.3rem;
    }
    > thead,
    > tbody {
      > tr {
        color:$white;
        background-color: darken($blue,10);
        &:nth-child(odd) {
          background-color: $blue;
        }
        &:hover {
          background-color: darken(red,5);
        }
        th,
        td {
          padding:10px;
          border-bottom: 1px dotted $white;
        }
      }
    }
  }
/* Galería de imágenes */
@mixin gridImagenes($cantidad, $margin) {
    width: ((100% - (($cantidad - 1) * $margin))/$cantidad);
    &:nth-child(n) {
      margin-right: $margin;
      margin-bottom: $margin;
    }
    &:nth-child(#{$cantidad}n + 1) {
        margin-right:0;
        margin-bottom: 0;
    }
}
.galeria{
    margin: 25px auto!important;
    width:80%;
    .imagen{
        float: left;
        @include gridImagenes(5, 1%);
        img{
            display: block;
            max-width: 100%;
        }
    }
}