@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico");
.alert { position: relative; padding: 0.75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem; }

.alert-heading { color: inherit; }

.alert-link { font-weight: 700; }

.alert-dismissible { padding-right: 4rem; }

.alert-dismissible .close { position: absolute; top: 0; right: 0; padding: 0.75rem 1.25rem; color: inherit; }

.alert-primary { color: #004085; background-color: #cce5ff; border-color: #b8daff; }

.alert-primary hr { border-top-color: #9fcdff; }

.alert-primary .alert-link { color: #002752; }

.alert-secondary { color: #464a4e; background-color: #e7e8ea; border-color: #dddfe2; }

.alert-secondary hr { border-top-color: #cfd2d6; }

.alert-secondary .alert-link { color: #2e3133; }

.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }

.alert-success hr { border-top-color: #b1dfbb; }

.alert-success .alert-link { color: #0b2e13; }

.alert-info { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }

.alert-info hr { border-top-color: #abdde5; }

.alert-info .alert-link { color: #062c33; }

.alert-warning { color: #856404; background-color: #fff3cd; border-color: #ffeeba; }

.alert-warning hr { border-top-color: #ffe8a1; }

.alert-warning .alert-link { color: #533f03; }

.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }

.alert-danger hr { border-top-color: #f1b0b7; }

.alert-danger .alert-link { color: #491217; }

.alert-light { color: #818182; background-color: #fefefe; border-color: #fdfdfe; }

.alert-light hr { border-top-color: #ececf6; }

.alert-light .alert-link { color: #686868; }

.alert-dark { color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; }

.alert-dark hr { border-top-color: #b9bbbe; }

.alert-dark .alert-link { color: #040505; }

/* Variables */
/* mixins */
body { background-color: #222; margin: 0px; padding: 0px; }

body h1, body h2 { text-align: center; color: #fff; font-family: "Pacifico", cursive; padding-bottom: 20px; border-bottom: 1px solid #444242; }

body h1:hover, body h2:hover { color: yellowgreen; }

@media only screen and (min-width: 768px) { body h1, body h2 { text-align: left; color: red; } }

@media only screen and (min-width: 1024px) { body h1, body h2 { text-align: right; color: blue; } }

.contenido { color: #fff; }

.contenido p { padding: 10px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; }

.buttons { text-align: center; }

.buttons .btn-x, .buttons .btn-negro { text-transform: uppercase; color: #fff; background: #0f4b83; border: 0px; padding: 20px; }

.buttons .btn-negro { background: #ff6666; }

table { margin: 25px auto !important; width: 80%; text-align: left; font-size: 1rem; border-collapse: collapse; text-align: center; }

table > caption { text-align: left; font-family: "Pacifico", cursive; font-size: 1.8rem; padding: 5px; color: #fff; margin-bottom: 20px; }

table thead tr th { background-color: #0f4b83; color: #fff; font-size: 1.3rem; }

table > thead > tr, table > tbody > tr { color: #fff; background-color: #1465b1; }

table > thead > tr:nth-child(odd), table > tbody > tr:nth-child(odd) { background-color: #197fdf; }

table > thead > tr:hover, table > tbody > tr:hover { background-color: #e60000; }

table > thead > tr th, table > thead > tr td, table > tbody > tr th, table > tbody > tr td { padding: 10px; border-bottom: 1px dotted #fff; }

/* Galería de imágenes */
.galeria { margin: 25px auto !important; width: 80%; }

.galeria .imagen { float: left; width: 49.5%; }

.galeria .imagen:nth-child(n) { margin-right: 1%; margin-bottom: 1%; }

.galeria .imagen:nth-child(2n + 1) { margin-right: 0; margin-bottom: 0; }

.galeria .imagen img { display: block; max-width: 100%; }

@media only screen and (min-width: 768px) { .galeria .imagen { width: 19.2%; }
  .galeria .imagen:nth-child(n) { margin-right: 1%; margin-bottom: 1%; }
  .galeria .imagen:nth-child(5n + 1) { margin-right: 0; margin-bottom: 0; } }

@media only screen and (min-width: 1024px) { .galeria .imagen { width: 19.2%; }
  .galeria .imagen:nth-child(n) { margin-right: 1%; margin-bottom: 1%; }
  .galeria .imagen:nth-child(5n + 1) { margin-right: 0; margin-bottom: 0; } }

/* grid */
.container { margin: 25px auto !important; width: 80%; }

.container p { color: #fff; }

[class*='col-'] { float: left; padding: 1em; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.row:after { content: ""; display: table; clear: both; }

@media only screen and (min-width: 768px) { .row { margin: 0 -1em; } }

@media only screen and (min-width: 768px) { [class~='col-1'] { width: 8.33333%; }
  [class~='col-2'] { width: 16.66667%; }
  [class~='col-3'] { width: 25%; }
  [class~='col-4'] { width: 33.33333%; }
  [class~='col-5'] { width: 41.66667%; }
  [class~='col-6'] { width: 50%; }
  [class~='col-7'] { width: 58.33333%; }
  [class~='col-8'] { width: 66.66667%; }
  [class~='col-9'] { width: 75%; }
  [class~='col-10'] { width: 83.33333%; }
  [class~='col-11'] { width: 91.66667%; }
  [class~='col-12'] { width: 100%; } }
